*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{
    --background_tela1: url(../img/img-pizza-Conta.png);
    --color_text:#fff; 
    --back_color: rgba(26, 1, 2, 0.85);
    --back_color_botao: #B92C00;
    --color_1:#C4C4C4;    
}

body{
    background-color: var(--back_color); 
    background-image: var(--background_tela1);
    background-size: 100vh; 
    background-repeat: no-repeat; 
}

.container{
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg, rgba(220, 26, 0, 0.537) 42.39%, rgba(207, 124, 48, 0.00) 102.34%);
    height: 100vh;
}

.conteudo{
    display: flex;
    height: 100vh;
    width: 100vh;
}

.direito{
    position: relative;
    margin-left: 8%;
}

.voltar{
    display: flex;
    margin-top: 15%;
}

.voltar i {
    font-size: 30px;
    color: var(--color_text);
}

.voltar a{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.logo{
    display: flex;
    margin: 0 auto;
    margin-top: 90%; 
}

.logo img{

    width: 117px;
    height: 106px;
    margin-left: 20%; 
}

.logo h2{
    width: 160px;
    height: 167px;
    margin-left: 5%;  
    color: var(--color_text);
    font-family: Pattaya;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; 
}

.esquerdo{
    position: relative;
    margin: 1% 20%; 
}

.esquerdo h2{
   width: 400px;
    color: #FFF;
    margin: 5% 0% 0% 75% ;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
}

.user{
    margin-left: 600px;
} 

.user img{
    width: 120px;
    height: 120px;
    align-items: center;
    margin-top: 10px;
}

.barra{
    width: 512px;
    height: 1px;
    margin-top: 1%;
    background-color: var(--color_text);
}

.esquerdo i{
    color: var(--color_text);
    font-size: 45px;
    margin-top: 15%;
}

.esquerdo ::placeholder{
    color: var(--color_text)
}

.info{
    margin-left: 58%;
}

.email input[type=text]{
    margin-left: 10px;
    margin-bottom: 2px;
    border: none;
    background: none;
    font-size: 20px;
    outline: none; 
}

.senha{  
    margin-top: -10px;
} 

.senha input[type=password]{
    margin-left: 10px;
    margin-bottom: 2px;
    border: none;
    background: none;
    font-size: 20px;
    outline: none; 
}

.entrar{
    background-color: var(--color_text);
    width: 300px;
    height: 54px;
    border-radius: 10px;
    border: 0;
}

.entrar a{
    color: var(--back_color_botao);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

button{
    margin-bottom: 0 auto;
    margin: 10% 0% 0% 75% ;
}

/*Raponsividade desktop e telas menores*/
@media screen and (max-width: 1024px) {

    body{
       background-size: 50vw;
    }

    .container{
        width: 100vw;
        overflow: hidden;  
    }

    .direito{
        margin: 0% 0 0 5%;
        height: 300px;
    }


    .logo{
        margin: 100% 0 0 10%;
    }

    .logo img{
        width: 80px;
        height: 80px;
    }
   
    .logo h2{
        font-size: 70px;
        line-height: 35px;
        margin: 15% 0 0 5px;
    }

    .barra{
        width: 380px;
    }

    .esquerdo{
        margin: 0 0 0 -10%;
        height: 400px;
    }

    .esquerdo i{
        font-size: 35px;
    }

    .esquerdo h2{
        margin: 5% 0 0 60%;
    }

    .esquerdo img{
        margin: 0 0 0 -85%;
    }

    .email{
        margin: 0% 0 0 -40px;
    }

    .senha{
        margin:-20px 0 0 -40px;
    }

    .novaSenha{
        margin: 15px 0 0 55%;
    }

    .novaSenha a{
        font-size: 13px;
    }

    .conta{
        width: 400px;
        margin: 20px 0 0 50% ;
    }

    .entrar{
        margin: 15% 0 0 20% ;
        width: 250px;
    }

    button{
        margin: 0;
    }

    .conta h2{
        margin: 5%  0 0 28%;
        font-size: 15px;
        font-weight: 0px;
    }

    .criarConta a{
        margin: 0 0 0 35%;
        font-size: 18px;
    }

}

/*Responsividade telas menores de 768px*/
@media screen and (max-width: 768px) {
    body{
        background-size: 50vw;
    }
 
    .container{
        width: 100vw;
        overflow: hidden;  
    }
 
    .direito{
        margin: 0% 0 0 5%;
        height: 300px;
    }
 
    .logo{
        margin: 80% 0 0 0%;
    }
 
    .logo img{
        width: 80px;
        height: 80px;
    }
    
    .logo h2{
        font-size: 50px;
        line-height: 35px;
        margin: 10% 0 0 5px; 
    }

    .barra{
        width: 300px;
        margin:0 0 0 -50px;
    }
    
    .esquerdo{
        margin: 0 0 0 -20%;
    }

    .esquerdo h2{
        font-size: 25px;
        margin: 25px 0 0 55%;
    }

    .user img{
        margin: 10px 0% 0 -200px;
        width: 80px;
        height: 80px;
    }
    
    .esquerdo i{
        font-size: 20px;
        margin-left:-50px;
    }
    
    .email input[type=text]{
        margin-left: 10px;
        font-size: 15px;
    }

    .senha input[type=password]{
        margin-left: 10px;
        font-size: 15px;
    }
    .email{
        margin-left: -10px;
        margin-top: -10px;
    }

    .senha{
        margin-top: 2px;
        margin-left: -10px;
    }

    .novaSenha{
        margin: 20px 0 0 37%;
    }

    .conta{
        margin: -15px 0 0 38%;
        width: 350px;
    }

    .entrar{
        width: 200px;
        margin-left: 30%;
    }

    .conta h2{
        font-size: 10px;
        margin: 5px 0 0 43%;
    }

    .criarConta{
        width: 150px;
        margin: 0 0 0 30%;
    }

    .criarConta a{
        margin-top:10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 450px){
    body{
        background-image: url(../img/pizza_criarConta.png);
        background-size: cover;   
    }

    .container{
        height: 100vh;
        width: 100vw;
        overflow: hidden;  
    }

    .conteudo{
        height: 100vh;
        width: 100vw;
    }

    .voltar{
        margin-top: -120px;
    }
    
    .direito{
        margin: 40% 0 0 10%;
    }

    .logo{
        display: none;
    }
    
    .barra{
        width: 300px;
    }
    
    .esquerdo{
        margin-top: 50px;
        right: 10px;
    }
    
    .esquerdo h2{
        margin-left: 10%;
        margin-top: 50px;
    }

    .user img{
        margin-left: -470px;
    }

    .esquerdo i {
        font-size: 40px;   
    }

    .email input[type=text]{
        width: 100%;
    }

    .email{
        margin: -30% 0 0 -280px;
    }

    .senha{
        margin: -30% 0 0 -280px;
    }

    .senha input[type=password]{
        width: 100%;   
    }

    .novaSenha{
        margin: 5px 0 0 -125px;
    }

    .conta{
      margin-left:-20px;  
    }

}